Backups/27_01_22 Order Tracking/OrderID and CarrierID
[
    {
        "id": "869939c462f3ca04",
        "type": "tab",
        "label": "OrderID and CarrierID",
        "disabled": false,
        "info": "This flow instantiates the MQTT Broker and connects OrderID and CarrierID to a Dashboard Display.",
        "env": []
    },
    {
        "id": "e2bc587fefbe8027",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC-10 Carrier",
        "topic": "STPLC_10/uiCarrierId",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "678e7b1cb1058dda"
            ]
        ]
    },
    {
        "id": "b877e1018dfca36d",
        "type": "aedes broker",
        "z": "869939c462f3ca04",
        "name": "Broker",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 110,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "678e7b1cb1058dda",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "647969aea6a2b6f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Carrier Id",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "5f093484cb75c83f",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC_08 Order",
        "topic": "STPLC_08/udiONo",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "5704681d7bb0baa9"
            ]
        ]
    },
    {
        "id": "be7ca3847c618154",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC_08 Carrier",
        "topic": "STPLC_08/uiCarrierId",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "81f9b0491307381e"
            ]
        ]
    },
    {
        "id": "4e5668d087314df7",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC_09 Order",
        "topic": "STPLC_09/udiONo",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "56507f1ee9a41890"
            ]
        ]
    },
    {
        "id": "b1339de23f3dd919",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC_09 Carrier",
        "topic": "STPLC_09/uiCarrierId",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "b134d5054b6281c5"
            ]
        ]
    },
    {
        "id": "c328646adcca34a7",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC_10 Order",
        "topic": "STPLC_10/udiONo",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "2381aba115ed80b9"
            ]
        ]
    },
    {
        "id": "12ca04c6f668fd79",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC_11 Order",
        "topic": "STPLC_11/udiONo",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "4ec80f966c0753e3"
            ]
        ]
    },
    {
        "id": "7c44a381a76b5682",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC_11 Carrier",
        "topic": "STPLC_11/uiCarrierId",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "6ed962fe3982a2ad"
            ]
        ]
    },
    {
        "id": "70c5ddfde51b3c6b",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC_12 Order",
        "topic": "STPLC_12/udiONo",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 560,
        "wires": [
            [
                "d15ace8b96424b84"
            ]
        ]
    },
    {
        "id": "413544b315a6836d",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC_12 Carrier",
        "topic": "STPLC_12/uiCarrierId",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 600,
        "wires": [
            [
                "03d011598dca8bb5"
            ]
        ]
    },
    {
        "id": "8da893cfd7201176",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC_13 Order",
        "topic": "STPLC_13/udiONo",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 660,
        "wires": [
            [
                "b7277956f09d45d5"
            ]
        ]
    },
    {
        "id": "f2592a019df859ed",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC_13 Carrier",
        "topic": "STPLC_13/uiCarrierId",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 700,
        "wires": [
            [
                "0b023f7e38dabbcc"
            ]
        ]
    },
    {
        "id": "2381aba115ed80b9",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "647969aea6a2b6f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Order No",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "b134d5054b6281c5",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "4edb15f36a9027e2",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Carrier Id",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "56507f1ee9a41890",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "4edb15f36a9027e2",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Order No",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "81f9b0491307381e",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "0e60d1fbc7e69e39",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Carrier Id",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 200,
        "wires": []
    },
    {
        "id": "5704681d7bb0baa9",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "0e60d1fbc7e69e39",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Order No",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 160,
        "wires": []
    },
    {
        "id": "4ec80f966c0753e3",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "45ad0c7cc0fbbc5b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Order No",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 460,
        "wires": []
    },
    {
        "id": "6ed962fe3982a2ad",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "45ad0c7cc0fbbc5b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Carrier Id",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 500,
        "wires": []
    },
    {
        "id": "d15ace8b96424b84",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "a49fceea5d28c883",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Order No",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 560,
        "wires": []
    },
    {
        "id": "03d011598dca8bb5",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "a49fceea5d28c883",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Carrier Id",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 600,
        "wires": []
    },
    {
        "id": "b7277956f09d45d5",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "3b25bef90edcaf5a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Order No",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 660,
        "wires": []
    },
    {
        "id": "0b023f7e38dabbcc",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "3b25bef90edcaf5a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Carrier Id",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 700,
        "wires": []
    },
    {
        "id": "f4ff8b7b8660d05d",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC_01 Order",
        "topic": "STPLC_01/Switch/udiONo",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 760,
        "wires": [
            [
                "8052604f02f4530f"
            ]
        ]
    },
    {
        "id": "955e7a64f14a611a",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC_01 Carrier",
        "topic": "STPLC_01/Switch/uiCarrierId",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 800,
        "wires": [
            [
                "830e27a4c09bbf51"
            ]
        ]
    },
    {
        "id": "8052604f02f4530f",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "8d2bc311aab3ec69",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Order No",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 760,
        "wires": []
    },
    {
        "id": "830e27a4c09bbf51",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "8d2bc311aab3ec69",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Carrier Id",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 800,
        "wires": []
    },
    {
        "id": "098ac822fa209a0f",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC_14 Carrier",
        "topic": "STPLC_14/Switch/uiCarrierId",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 900,
        "wires": [
            [
                "94d98aa90855706c"
            ]
        ]
    },
    {
        "id": "019a0ae6525fb641",
        "type": "mqtt in",
        "z": "869939c462f3ca04",
        "name": "STPLC_14 Order",
        "topic": "STPLC_14/Switch/udiONo",
        "qos": "2",
        "datatype": "auto",
        "broker": "488e38fb12c67bed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 860,
        "wires": [
            [
                "71a92c37227a05af"
            ]
        ]
    },
    {
        "id": "71a92c37227a05af",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "d40470e59fb0d3c2",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Order No",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 860,
        "wires": []
    },
    {
        "id": "94d98aa90855706c",
        "type": "ui_text",
        "z": "869939c462f3ca04",
        "group": "d40470e59fb0d3c2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Carrier Id",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 900,
        "wires": []
    },
    {
        "id": "09ef263695a32300",
        "type": "ui_button",
        "z": "869939c462f3ca04",
        "name": "",
        "group": "775325a97c37526e",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "RED",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 100,
        "wires": [
            [
                "5704681d7bb0baa9",
                "81f9b0491307381e",
                "56507f1ee9a41890",
                "b134d5054b6281c5",
                "2381aba115ed80b9",
                "678e7b1cb1058dda",
                "4ec80f966c0753e3",
                "6ed962fe3982a2ad",
                "d15ace8b96424b84",
                "03d011598dca8bb5",
                "b7277956f09d45d5",
                "0b023f7e38dabbcc",
                "8052604f02f4530f",
                "830e27a4c09bbf51",
                "71a92c37227a05af",
                "94d98aa90855706c"
            ]
        ]
    },
    {
        "id": "488e38fb12c67bed",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "172.20.66.150",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "647969aea6a2b6f9",
        "type": "ui_group",
        "name": "PLC 10",
        "tab": "61eabffb24c82b2a",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "4edb15f36a9027e2",
        "type": "ui_group",
        "name": "PLC 09",
        "tab": "61eabffb24c82b2a",
        "order": 8,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "0e60d1fbc7e69e39",
        "type": "ui_group",
        "name": "PLC 08",
        "tab": "61eabffb24c82b2a",
        "order": 9,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "45ad0c7cc0fbbc5b",
        "type": "ui_group",
        "name": "PLC 11",
        "tab": "61eabffb24c82b2a",
        "order": 7,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "a49fceea5d28c883",
        "type": "ui_group",
        "name": "PLC 12",
        "tab": "61eabffb24c82b2a",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "3b25bef90edcaf5a",
        "type": "ui_group",
        "name": "PLC 13",
        "tab": "61eabffb24c82b2a",
        "order": 6,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "8d2bc311aab3ec69",
        "type": "ui_group",
        "name": "PLC 01",
        "tab": "61eabffb24c82b2a",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d40470e59fb0d3c2",
        "type": "ui_group",
        "name": "PLC 14",
        "tab": "61eabffb24c82b2a",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "775325a97c37526e",
        "type": "ui_group",
        "name": "Clear",
        "tab": "61eabffb24c82b2a",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61eabffb24c82b2a",
        "type": "ui_tab",
        "name": "Smart Production Festo Lab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
